div{
    background: linear-gradient(to bottom, #003366 0%, #ffffff 100%);
}
div{display:block;margin-top:20px;margin-bottom:20px; margin-right:10px; margin-left:10px}
img{Float:right;}
.header {bakgorund-color: #F1F1F1; text-align: center;padding: 20px}
